build-iz-qml-library-Desktop_Qt_5_8_0_MSVC2015_32bit-Debug/
iz-qml-library-deploy/
build-iz-qml-library-Desktop_Qt_5_8_0_msvc2015_32bit-Release/
iz-qml-library-source/iz-qml-library.qbs.user
build-iz-qml-library-Desktop_Qt_5_8_0_MSVC2015-Release/
build-iz-qml-library-Desktop_Qt_5_8_0_MinGW_5_3-Release/
build-iz-qml-library-Desktop_Qt_5_8_0_MinGW_5_3-Debug/
build-iz-qml-library-Desktop_Qt_5_8_0rc675_MinGW_5_3-Release/
build-iz-qml-library-Desktop-Debug/
build-iz-qml-library-Desktop_Qt_5_8_0_MinGW_32bit-Debug/
*.o
build-iz-qml-library-Desktop_Qt_5_8_0_MinGW_32bit-Release/qtc_Desktop__f4d5050c-release/IzQMLComponents.qtc-Desktop--f4d5050c.daa21845/qt.headers/moc_IzQMLComponents.cpp
*.bg
build-iz-qml-library-Desktop_Qt_5_8_0_MinGW_32bit-Release/qtc_Desktop__f4d5050c-release/IzQMLComponents.qtc-Desktop--f4d5050c.daa21845/.socopy/IzQMLComponents.dll
build-iz-qml-library-Desktop_Qt_5_8_0_MinGW_32bit-Release/qtc_Desktop__f4d5050c-release/IzQMLComponents.qtc-Desktop--f4d5050c.daa21845/qt.headers/moc_IzAbstractSQLField.cpp
build-iz-qml-library-Desktop_Qt_5_8_0_MinGW_32bit-Release/qtc_Desktop__f4d5050c-release/IzQMLComponents.qtc-Desktop--f4d5050c.daa21845/qrc_res.cpp
*.dll
build-iz-qml-library-Desktop_Qt_5_8_0_MinGW_32bit-Release/qtc_Desktop__f4d5050c-release/IzQMLComponents.qtc-Desktop--f4d5050c.daa21845/qrc_qml-src.cpp
build-iz-qml-library-Desktop_Qt_5_8_0_MinGW_32bit-Release/qtc_Desktop__f4d5050c-release/IzQMLComponents.qtc-Desktop--f4d5050c.daa21845/qt.headers/moc_IzAbstractDialog.cpp
build-iz-qml-library-Desktop_Qt_5_8_0_MinGW_32bit-Release/qtc_Desktop__f4d5050c-release/qtc_Desktop__f4d5050c-release.bg.lock
build-iz-qml-library-Desktop_Qt_5_8_0_MinGW_5_3_0-Debug/
build-iz-qml-library-Desktop_Qt_5_8_0_msvc2015-Debug/
build-iz-qml-library-Desktop_Qt_5_8_0_MinGW_5_3_0-Release/
build-iz-qml-library-Unnamed-Debug/
iz-qml-library.qbs.user
CMakeLists.txt.user
CMakeLists.txt.user.4.8-pre1
*.20
.vs
CMakeLists.txt.user.4.9-pre1
